html {
  background: black;
  font-family: "Press Start 2P", cursive;
}
@font-face {
  font-family: "Press Start 2P", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
}
#the-canvas {
  border: 1px solid #ac5cb7;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: "Press Start 2P", cursive;
}

body button {
  font-size: 30px;
  background-color: black;
  color: darkred;
  padding: 20px 40px;
  border: 1 solid red;
  box-shadow: 0;
  border-radius: 5px;
  top: 50px;
  font-family: "Press Start 2P", cursive;
}
